@import url("https://fonts.googleapis.com/css2?family=Unica+One&display=swap");

.home {
  padding-top: 50px;
}
.home .jumbotron {
  background: url("/assets/top-congress-bg.jpg") top center no-repeat;
  background-size: cover;
  background-position: top center;
  margin-bottom: 0;
}
.home h1 {
  font-family: "Unica One", serif;
  color: #fff;
  margin-bottom: 4rem;
  text-shadow: 0 0 0.125rem #000;
}
@media (max-width: 992px) {
  .home h1 {
    font-size: calc(1.2rem + 1.2vw);
    margin-bottom: 2rem;
  }
  .home .display-1 {
    font-size: calc(3.2rem + 1.2vw);
  }
}
.home .location {
  font-size: 1.5rem;
  font-weight: bold;
  color: #ff7500;
  text-shadow: 0 0 0.125rem #000;
}
.home .date {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 0 0.125rem #000;
}
.home .register-btn {
  margin-top: 4rem;
}
.home .btn-primary {
  text-transform: uppercase;
}
